@import url("./global.css");

.top__section {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://images.pexels.com/photos/1601217/pexels-photo-1601217.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

/* header section */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 9;
}

.container {
  width: 80%;
  height: 100%;
  background: var(--white);
  border-radius: 0 0px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
}

.logo {
  flex: 1;
}

.logo a {
  display: flex;
  align-items: center;
}

.logo i {
  font-size: 1.3rem;
}

.logo h1 {
  font-family: "Tapestry", cursive;
  text-transform: capitalize;
  font-size: 1.8em;
  margin-left: 5px;
  font-weight: 500;
}

#menu__box {
  width: 40px;
  height: 40px;
  border: 2px solid var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.navbar {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar li {
  text-transform: capitalize;
  position: relative;
  font-size: 1rem;
}

.navbar li a {
  transition: all ease-in-out 0.9s;
}

.navbar li a.active::after,
.navbar li a:hover::after {
  content: "";
  height: 3px;
  width: 80%;
  background-color: var(--main-color);
  position: absolute;
  bottom: -4px;
  left: 0px;
}

.hero {
  color: var(--white);
  width: 80%;
  text-align: center;
}

.hero__text h1 {
  font-size: 40px;
}

.hero__text p {
  font-size: 1.4rem;
}

/* Media header section */

@media (max-width: 800px) {
  .top__section {
    height: 60vh;
  }
  header {
    height: 60px;
  }
  .container {
    width: 100%;
    border-radius: 0px 0px 0px 0px;

    position: relative;
  }

  #menu__box {
    display: flex;
  }

  .navbar {
    position: absolute;
    top: 61px;
    right: -200vw;
    flex-direction: column;
    justify-content: initial;
    align-items: flex-start;
    height: calc(100vh - 60px);
    width: 100%;
    background-color: var(--white);
    transition: all ease-in-out 0.6s;
  }

  .mobile__nav {
    right: 0;
  }

  .navbar li {
    height: 60px;
    width: 100%;
    margin-top: 5px;
    border-left: 4px solid var(--main-color);
    border-bottom: 1px solid var(--second-color);
    display: flex;
    align-items: center;
  }

  .navbar li a {
    padding-left: 5px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .navbar li a:hover {
    background-color: var(--main-color);
  }

  .navbar li a:hover {
    background: none;
  }

  .navbar li a.active::after,
  .navbar li a:hover::after {
    content: "";
    height: initial;
    width: initial;
    background-color: initial;
    position: initial;
    bottom: initial;
    left: initial;
  }

  .hero {
    color: var(--white);
    width: 80%;
    text-align: center;
  }

  .hero__text h1 {
    font-size: 20px;
  }

  .hero__text p {
    font-size: 0.8rem;
  }
}

@media (max-width: 1100px) {
  .top__section {
    height: 60vh;
  }
  header {
    height: 60px;
  }

  .navbar li {
    font-size: 0.9rem;
  }
}

/* main section */

main {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

#featured {
  min-height: 60vh;
  width: 80%;
  display: grid;
  gap: 30px;
  place-items: center;
  padding-bottom: 40px;
}

.grid_4 {
  grid-template-columns: repeat(4, 1fr);
}

#featured .featured__card {
  height: 300px;
  background-color: rgba(17, 25, 40, 0.78);
  backdrop-filter: blur(0px) saturate(8%);
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.18);
}

#featured .featured__card .featured__card-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  z-index: 9;
  text-transform: capitalize;
}

#featured .featured__card .featured__card-text h3 {
  font-size: 15px;
}

#featured .featured__card .featured__card-text p {
  font-size: 10px;
}

#featured .featured__card .linear {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
  width: 100%;
  height: 100%;
  position: absolute;
}

#featured .featured__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all ease-in-out 0.3s;
  border-radius: 5px;
}

#featured .featured__card:hover img {
  transform: scale(1.08);
}

#featured .featured__card:hover .linear {
  z-index: 1;
}

#featured .featured__card:hover h3,
#featured .featured__card:hover p {
  z-index: 999;
}

@media (max-width: 1100px) {
  #featured {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    position: initial;
    place-items: center;
    margin-top: 20px;
  }
}
@media (max-width: 600px) {
  #featured {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* drones section */

#drones {
  width: 80%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#drones .drones__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  gap: 20px;
}

#drones .drones__grid .drones__grid-card {
  height: 300px;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #666;
  transition: all ease-in-out 0.6s;
  border-right: 0.8px solid rgba(0, 0, 0, 0.06);
  border-left: 0.8px solid rgba(0, 0, 0, 0.06);
  border-bottom: 0.8px solid rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

#drones .drones__grid .drones__grid-card:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.18);
  transform: scale(1.01);
}

.states_section {
  margin-bottom: 20px;
}

.states_section-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1200px) {
  #drones .drones__grid .drones__grid-card:hover {
    box-shadow: none;
    transform: initial;
  }
}

#drones .drones__grid .drones__grid-card img {
  width: 90%;
  height: 180px;
  object-fit: cover;
}

#drones .drones__grid .drones__grid-card .drones__grid-card-text {
  display: flex;
  flex-direction: column;
}

#drones .drones__grid-card-textCard h3 {
  text-transform: capitalize;
  font-size: 12px;
}

#drones .drones__grid-card-textCard p {
  text-transform: capitalize;
  font-size: 10px;
}

#drones .drones__grid-card-box {
  display: flex;
  justify-content: center;
}

#drones .drones__grid-card-box button {
  margin-top: 5px;
  padding: 3px 7px;
  border: none;
  background-color: var(--main-color);
  color: var(--white);
  font-size: 12px;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.9;
  font-size: 10px;
}

#drones .drones__btn {
  margin-top: 30px;
  padding: 10px 15px;
  border: none;
  background-color: var(--main-color);
  color: var(--white);
  font-size: 15px;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.9;
}

@media (max-width: 1200px) {
  #drones {
    width: 90%;
    min-height: 70vh;
  }

  #drones .drones__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  #drones .drones__btn {
    margin-top: 1rem;
  }
}
@media (max-width: 800px) {
  #drones .drones__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

footer {
  height: 10vh;
  width: 80%;
  border-top: 0.1px solid #666;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

footer .contact {
  display: flex;
  padding-right: 10px;
}

footer .contact .social__icons {
  display: flex;
}

footer .contact .social__icons li {
  padding-left: 20px;
  font-size: 20px;
}
